{% extends "base.html" %}

{% block title %} Головна сторінка {% endblock title %}

{% block content %}
  <div class="container my-4 centered">
    <div class="mb-3">
      <label for="groups" class="form-label"><strong>Оберіть групу:</strong></label>
      <select class="form-select" name="groups" id="groups">
        {% for group in groups %}
          <option value="group-{{group[0]}}">{{group[1]}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="table-responsive centered">
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">Прізвище</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Зображення</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="content-list">
          {% for student in students %}
            <tr class="group-{{ student[3] }}">
            {% if student[0] in leaders %}
              <td class="fw-bold text-primary">{{ student[2] }}</td>
              <td class="fw-bold text-primary">{{ student[1] }}</td>
              <td>
                <div class="mb-2">
                  <input class="form-control" type="file" id="upload-file-{{ student[0] }}" />
                </div>
                <div class="btn-group" role="group" aria-label="Image actions">
                  <button class="btn btn-success me-1" onclick="uploadImage({{ student[0] }})">Upload</button>
                  <button class="btn btn-info me-1" onclick="viewImage({{ student[0] }})">View</button>
                  <button class="btn btn-danger" onclick="deleteImage({{ student[0] }})">Delete</button>
                </div>
              </td>
              <td><button type="button" class="btn btn-secondary" disabled>Староста</button></td>
            {% else %}
              <td>{{ student[2] }}</td>
              <td>{{ student[1] }}</td>
              <td>
                <div class="mb-2">
                  <input class="form-control" type="file" id="upload-file-{{ student[0] }}" />
                </div>
                <div class="btn-group" role="group" aria-label="Image actions">
                  <button class="btn btn-success me-1" onclick="uploadImage({{ student[0] }})">Upload</button>
                  <button class="btn btn-info me-1" onclick="viewImage({{ student[0] }})">View</button>
                  <button class="btn btn-danger" onclick="deleteImage({{ student[0] }})">Delete</button>
                </div>
              </td>
              <td>
                <div class="btn-group" role="group" aria-label="Student actions">
                  <button type="button" class="btn btn-primary me-1" onclick="location.href='/transfer?studentId='+{{student[0]}}">Перевести</button>
                  <button type="button" class="btn btn-outline-danger deleteStudent" id="{{student[0]}}">❌</button>
                </div>
              </td>
            {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-primary mt-3" onclick="location.href='/addStudent'">Додати студента</button>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
  <script>
    const backendUrl = 'http://host.docker.internal:5001';

    function uploadImage(studentId) {
      const fileInput = document.getElementById(`upload-file-${studentId}`);
      const file = fileInput.files[0];
      if (file) {
        const formData = new FormData();
        formData.append('file', file);

        fetch(`${backendUrl}/students/upload_image/${studentId}`, {
          method: 'POST',
          body: formData,
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert('Image uploaded successfully');
          } else {
            alert('Failed to upload image');
          }
        })
        .catch(error => alert('Error uploading image: ' + error));
      } else {
        alert('No file selected');
      }
    }

    function viewImage(studentId) {
      const imageUrl = `${backendUrl}/students/view_image/${studentId}`;
      fetch(imageUrl)
        .then(response => {
          if (!response.ok) {
            throw new Error('Image not found');
          }
          return response.blob();
        })
        .then(blob => {
          const url = window.URL.createObjectURL(blob);
          window.open(url, '_blank');
        })
        .catch(error => alert('Image not available: ' + error.message));
    }

    function deleteImage(studentId) {
      fetch(`${backendUrl}/students/delete_image/${studentId}`, {
        method: 'POST',
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert('Image deleted successfully');
        } else {
          alert('Failed to delete image');
        }
      })
      .catch(error => alert('Error deleting image: ' + error));
    }
  </script>
{% endblock js %}
